body{
    background-color: rgb(221, 212, 212);
    margin: 0px;
    padding: 0px;
}
.hi{
    margin-top: 20px;
    margin-left: 50px;
    background-position: cover;
    height: 40px;
    width: 80%;
    background-color:rgba(206, 202, 202, 0.5);
    /* background-image: url(../pics/pngwing.com\ \(9\).png); */
    background-position: right;
    display: flex;
    align-items: center;
    gap: 20px;
padding: 10px;
position: fixed;
z-index:2;
box-shadow:   1px 2px 5px white;
}
.applelogo{
    height: 62px;
    width: 90px;
    /* background-color: rgba(137, 137, 206); */
margin: 20px;
    background-image: url(../pics/aribt.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.search{
    margin-left: 5px;
    height: 30px;
    width: 25px;
    background-image: url(../pics/pngwing.com\ \(27\).png);
    background-size: cover;
    background-repeat: no-repeat;
}
.apple{
    height: 30px;
    width: 50%;
    background-color: rgba(160, 145, 145, 0.3);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    top: 0px;
}
.appleimg{
    height: 30px;
    width: 30px;
    /* border: 1px solid black; */
    transform: translateX(40%);
    transition-delay: 20mm;
}
.imageholder{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
#imgone{
   background-image: url(../pics/pngwing.com\ \(12\).png);
    background-size: cover;
    background-repeat: no-repeat;
}
#imgone:hover{
    /* transition: transformX(80%); */
    transform: scale(.3);
   transition: transform .5ms ease-in-out;
}
a{
    color: white;
    text-decoration: none;
}
#imgtwo{
    background-image: url(../pics/pngwing.com\ \(16\).png);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}
#imgtwo:hover{
    /* transition: transformX(80%); */
    transform: scale(.3);
   transition: transform .5ms ease-in-out;
}
#imgthree{
    background-image: url(../pics/pngwing.com\ \(14\).png);
    background-size: cover;
    background-repeat: no-repeat;
}
#imgthree:hover{
    /* transition: transformX(80%); */
    transform: scale(.3);
   transition: transform .5ms ease-in-out;
}
#imgfour{
    /* border: none; */
    background-image: url(../pics/pngwing.com\ \(26\).png);
    background-size:cover;

    background-repeat: no-repeat;
}
#imgfour:hover{
    /* transition: transformX(80%); */
    transform: scale(.3);
   transition: transform .5ms ease-in-out;
}
.orange{
    /* background-color: yellow; */
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.orangeupper{

    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(../pics/pngwing.com\ \(29\).png);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: bottom;
    background-color: white;
    bottom: 0px;
    
}
.upperone{
    margin-top: 80px;
color: rgb(76, 93, 129);
font-weight: 500;
font-size: 35px;
font-style:inherit;
text-shadow: 0px 2px 2px silver;
}

.uppertwo{
    display: flex;
    flex-direction: row;
    position: absolute;
    padding: 10px;
    bottom: -80px;
    height: 100px;
    width: 600px;
    background-color: rgb(76, 93, 129);
    display: flex;
    gap: 10px;
}
.upperthree{
    height: 90px;
    width: 150px;
    /* background-color: white; */
}
#threeone{
    background-image: url(../pics/tech1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#threetwo{
    background-image: url(../pics/tech3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#threethree{
    background-image: url(../pics/tech2);
    background-size: cover;
    background-repeat: no-repeat;
}
#threefour{
    background-image: url(../pics/tech4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.orangelower{

    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    font-size: 30px;
    color: gray;
    gap: 5px;
    text-shadow: 5px 5px 5px rgb(167, 163, 163);
    /* background-color: rgba(135, 206, 235,.8); */
}
.lowerone{
    border: 1px solid gray;
    height: 0px;
    width: 30%;
}
.lowertwo{
width: fit-content
}
 .mango{
    margin-top: 10px;
    height: fit-content;
    width: 99%;
 }  
.mangoupper{
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.cources{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 240px;
    width: 23%;
position: relative;
}
.name{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 50px;
    gap: 10px;
    width: 95%;
    background-color:rgba(172, 169, 169,.6);
    display: flex;
    bottom: 0px;
}
#one{
    background-image: url(../pics/img1);
    background-size: cover;
    background-repeat: no-repeat;
}
#two{
    background-image: url(../pics/img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;

}
#three{
    background-image: url(../pics/img3);
    background-size: cover;
    background-repeat: no-repeat;
}
#four{
    background-image: url(../pics/img4);
    background-size: cover;
    background-repeat: no-repeat;
}
#five{
    background-image: url(../pics/img5);
    background-size: cover;
    background-repeat: no-repeat;
}
#six{
    background-image: url(../pics/img6);
    background-size: cover;
    background-repeat: no-repeat;
}
#seven{
    background-image: url(../pics/img7);
    background-size: cover;
    background-repeat: no-repeat;
}
#eight{
        background-image: url(../pics/img8);
        background-size: cover;
        background-repeat: no-repeat;
    }

.mangocenter{
    height: 10px;
    width: 100%;
}
botton{
    padding: 3px;
    font-size: 18px;
    height: 20px;
    font-weight: 50px;
    background-color: rgb(235, 235, 100);
}
.gauva{
    /* margin-top: 70px; */
    height: fit-content;
    width: 98%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
}
.gauvaupper{
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    color: gray;
    /* background-color:gray; */
    font-size: 35px;

}
.gauvalower{
    
    height: 300px;
    width: 90%;
    background-color:  rgba(76, 93, 129,.7);
    display: grid;
    grid-template-columns: 50% 50%;
   margin: 0px auto;
   /* place-content: center; */
   place-items: center;

}
.gauvaone{
    /* background-color:rgba(103, 112, 131,.1); */
    height: 90%;
    color: white;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* position: relative; */
    overflow: none;
    z-index: 1;
    /* overflow: hidden; */
}
/* .gauvaone::before{ */
    contain: "";
    content: "";
    content: "";
    
    position: absolute;
    /* border-left: 170 solid rgba(76, 93, 129,.5); */
    border-right:170px solid transparent;
    /* border-top: 170px solid rgba(76, 93, 129,.5); */
    border-bottom: 170px solid transparent;
    z-index: 1;
    right: -160px;
    top: 0px;
/* } */
.gauvatwo{
    /* background-color: white; */
    height: 90%;
    color: white;
    width: 90%;
    /* border: 1px solid black; */
    position: relative;
    overflow: none;
    /* z-index: 1; */
}
/* .gauvatwo::before{
    contain: "";
    content: "";
    content: "";
    
    position: absolute;
    border-left: 135px solid transparent;
    border-right:135px solid white;
    border-top: 135px solid transparent;
    border-bottom: 135px solid white;
    z-index: 1;
    left: -150px;
    bottom: 0px;
} */
.higher{
font-size: 38px;
font-weight: 900px;
width: 350px;
text-align: center;
text-shadow: 2px 2px 2px rgb(228, 212, 212);
color: rgb(226, 226, 134);
    

}
.higherone button{
    height: 30px;
    width: 300px;
    border: none;
    background-color:rgba(76, 93, 129,.5);
    color: black;
    font-size: 14px;
}
.highertwo{
    display: flex;
    flex-direction: row;
width: 300px;
height: 35px;
/* border: 1px solid red; */
justify-content: center;
gap: 10px;
}
#ca{
    background-image: url(../pics/pngwing.com\ \(23\).png);
    background-repeat: no-repeat;
    background-size: contain;
}
#cb{
    background-image: url(../pics/pngwing.com\ \(24\).png);
    background-repeat: no-repeat;
    background-size: contain;
}
#cc{
    background-image: url(../pics/pngwing.com\ \(22\).png);
    background-repeat: no-repeat;
    /* background-color: black; */
    background-size: 115%;
    background-position: center;
}
#cd{
    background-image: url(../pics/pngwing.com\ \(25\).png);
    background-repeat: no-repeat;
    background-size: contain;

}

.higherimgone{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    /* border: 1px solid white; */
}
.highered{
    height: 265px;
    /* top: 0px; */
    position: absolute;
    z-index: 1;
    /* background-color: blue; */
   width: 350px;
   right: 70px;
   /* border: 3px solid red; */
}
.higheredone{
    /* margin-left: 20px; */
    width: fit-content;
    height: fit-content;
    font-size:10px;
    /* color:black; */
    text-shadow: 2px 2px 2px solid black;
    font-weight: 400px;
    /* background-color: green; */
}
.higheredtwo{
    margin-left: 15px;
    /* margin-top: 20px; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 5px;
    height: 250px;
    width: fit-content;
    /* border: black 2px solid; */

}
input{
border: 1px solid rgba(167, 164, 164,.4);
background-color: rgba(224, 220, 220, 0.4);
height: 20px;
width: 250px;
border-radius: 70px;
}
label{
    color: white;
}
.b1{
    margin-left: 77px;
    border: none;
    /* padding: 15px; */
    height: 25px;
    width: 100px;
    border-radius: 50px;
background-color: rgba(76, 93, 129,.4);
}
.pine{
    /* border: 2px solid gray; */
    height: fit-content;
    width: 99%;
    /* background-color: rgb(170, 191, 238); */
}
.pineupper{
    height: 150px;
    font-style: initial;
    text-shadow: 2px 2px 5px rgb(133, 131, 131);
    width: 100%;
    background-color: white;
/* border: 3px solid red; */
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
flex-direction: row;
}
.pineupperone{
    color: gray;
    font-size: 35px;
    font-weight: 400;
}
.pineuppertwo{
    margin-top: 20px;
    font-size: 10px;
    font-weight: 400;
    color: rgb(48, 42, 42);
}
.pinelower{
    border: 1px solid gray;
    border-bottom: none;
    height: fit-content;
    width: 100%;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -1;
}

.pinereviewone{
    display: grid;
grid-template-columns: 65% 35%;
    height: 200px;
    width: 90%;
    /* border: 3px solid green; */
    /* place-items: center; */
    place-content: center;

}
.reviewleft{
    background-color: aqua;
    height: 150px;
    width: 150px;
    border-radius:150px ;
    /* place-items: center;
    place-content: center; */
}
.reviewright{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: bisque;
    height:180px;
    width: 450px;
    /* padding: 10px; */
    border-radius: 100px;
    position: relative;
    z-index: 1;
}
.aa{
    color: black;
    width: 70%;
}
.reviewright::after{
    height: 50px;
    width: 50px;
    background-color: bisque;
    contain: "";
    content: "";
    position: absolute;
    right : -15px;
    bottom: 60px;
    transform: rotate(45deg);
z-index: -1;

}
.pinereviewtwo{
    display: grid;
grid-template-columns:35% 65%;
    height: 200px;
    width: 90%;
    /* border: 3px solid green; */
    /* place-items: center; */
    place-content: center;
}
.secondleft{
background-color: aqua;
    height: 150px;
    width: 150px;
    border-radius:150px ;
}
.secondright{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: skyblue;
    height:180px;
    width: 450px;
    /* padding: 10px; */
    border-radius: 100px;
    position: relative;
    z-index: 1;
}
.secondright::after{
    height: 50px;
    width: 50px;
    background-color: skyblue;
    contain: "";
    content: "";
    position: absolute;
    left : -15px;
    bottom: 60px;
    transform: rotate(45deg);
z-index: -1;
}
#ba{
    background-image: url(../pics/img11);
    background-size: cover;
    background-repeat: no-repeat;
}
#bb{
    background-image: url(../pics/img12);
    background-size: cover;
    background-repeat: no-repeat;
}
#bc{
    background-image: url(../pics/img13);
    background-size: cover;
    background-repeat: no-repeat;
}
.litchi{
    background-color: azure;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 150px;
    width: 99%;
    justify-content: center;
    align-items: center;
/* background-color: greenyellow; */
}
.litchiupper{
    gap: 10px;
    display: flex;
    flex-direction: row;
}
.litchired{
    color: rgb(98, 98, 173);
    font-size: 30px;
    font-weight: 600;
}
.litchiredone{
    color: orange;
    font-size: 30px;
    font-weight: 600;

}
.litchilower{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
text-align: center;
}
.litchiredtwo{
    width: 65%;
    font-size: 15px;
}
.banana{
    display: flex;
    align-items: center;
    height: 100px;
    width: 99%;
    background-color: azure;

}
.bananaone{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0px;
    width: 100%;
    border: 1px solid lightgray;
    background-color: lightgray;
    position: relative;
    top: 0px;
}
.bananatwo{
    height: 30px;
    width: 60px;
    position: absolute;
    background-image: url(../pics/pngwing.com\ \(19\).png);
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: red; */
}
.starfruit{
    height: 250px;
    width: 99%;
   /* gap:30px; */
    background-size: contain;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 30% 70%;
}
.starfruitone{
    background-image: url(../pics/pngwing.com\ \(20\).png);
    background-size: contain;
    background-repeat: no-repeat;

}
.starfruittwo{
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.starfruitred{
    color: rgb(96, 96, 129);
    padding: 10px;
    font-size: 40px;
    font-weight: 700;
    width: 350px;
    height: fit-content;
}
.starfruitredone{
    padding: 10px;
    width: 80%;
    text-align: center;
    color: gray;
}
.starfruitbutton{
    background-color: rgba(92, 92, 173,.5);
    height: 26px;
    color: white;
    width: fit-content;
    border: none;
    /* border-radius: 10px; */
}
.dragon{
    padding: 10px;
    display: flex;
    /* gap: 10px; */
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    height: 150px;
    width: 97%;
    background-color: rgba(59, 55, 55,.5);
    color: white;
}
.dragonone{
    /* border: 2px solid black; */
    height: 80%;
    width: 20%;
}
#red{
    /* padding: 5px; */
    gap: 20px;
    display: flex;
    flex-direction: column;

}
.redone{
    font-size: 25px;
}
.redtwo{
    width: 80%;
    font-size: 10px;
}
.redtwobutton{
    width: fit-content;
    color: gray;
    font-size: 10px;
    border: none;
    margin-left: 20px;
}
#yellow{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.yellowone{
    font-size: 25px;
    font-weight: 700;
}
.yellowtwo{
    gap:2px;
    display: flex;
    flex-direction: row;
    font-size: 10px;
   
    /* background-image: url(../); */
}
.yellowfour{
    /* background-color: aqua; */
    background-image: url(../pics/pngwing.com\ \(21\).png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 30px;
}
/* #pink{ */
    /* padding: 5px; */
/* } */
.pinkone{
    /* padding: 5px; */
    font-size: 30px;
    font-weight: 700;

}
.pinktwo{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 10px;
}
.blueone{
    font-size: 20px;
    font-weight: 700;

}
.bluetwo{
    height: 30px;
    width: 90%;
    display: flex;
    gap:5px;
    margin-top: 20px;
    /* border: 1px solid red; */
    flex-direction: row;
}
.bluethree{
    height: 25px;
    width: 30px;
    /* border: 1px solid green; */
}
#blueimgone{
    background-image: url(../pngwing.com\ \(22\).png);
    background-size: contain;
    background-repeat: no-repeat;
}
#blueimgtwo{
    background-image: url(../pics/pngwing.com\ \(23\).png);
    background-size: contain;
    background-repeat: no-repeat;
}
#blueimgthree{
    background-image: url(../pics/pngwing.com\ \(24\).png);
    background-size: contain;
    background-repeat: no-repeat;
}
#blueimgfour{
    background-image: url(../pics/pngwing.com\ \(25\).png);
    background-size: contain;
    background-repeat: no-repeat;
}
.logoend{
    margin-top: 20px;
    height: 50px;
    width: 80%;
    display: flex;
background-position: center;
    /* border: 1px solid black; */
    background-image: url(../pics/aribt.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}